@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.su1{
	display: inline-block;
}

.su2{
    text-align: center;
    font-size: 27px;
    
    font-weight: bold;
	  color:rgb(39, 39, 73);
}

.hr-line:after{
	content:" ";
	height: 3px;
	width: 50px;
	background: #492f6f;
	display: block;
	position: relative;
	top: 18%;
	right: 0;
	left:40px;
	margin-left: 690px;
  }
  
.contain1{
	width: 100%;
	border-radius: 6px;
	padding: 20px;
	margin: 20px 20px 20px 50px;
  }
.contain1 .content1{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

.contain1 .right-side1{
  width: 80%;
  margin-left: 70px;
}

.right-side1 .input-box1{
  height: 50px;
  width: 50%;
  margin: 12px 0;
}



.right-side1 .input-box1 input,
.right-side1 .input-box1{
  height: 100%;
  width: 50%;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  background: #F0F1F8;
  font-weight: bold;
}

.right-side1 .input-box1 {
  padding-top: 6px;
}
.right-side1 .button1{
  display: inline-block;
  margin-top: 12px;
}
.right-side1 .button1 input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #de1f26;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.button1 input[type="button"]:hover{
  background: #de1f26;
}
@media (max-width: 950px) {
  .contain1{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .contain1 .content1 .right-side1{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .contain1{
    margin: 40px 0;
    height: 100%;
  }
  .contain1 .content1{
    flex-direction: column-reverse;
  }

 .contain1 .content1 .right-side1{
   width: 100%;
   margin-left: 0;
 }
}




/*---------------------include.js---------------------*/
.container2 {
	background-size: cover;
	height:700px;
	margin: 0px 50px 350px 10px;
}

label{
  font-weight: bold;
}

.text-center {
	text-align: center;
}

.content2 {
	display: flex;
	margin-top: 40px;
}

.icon {
	background-color: white;
	border-radius: 30px;
	padding: 15px;
	vertical-align: top;
}

.contact-info {
	display: inline-block;
	padding: 4px 20px 0px 20px;
}

.col-1 {
	width: 530px;
  height:650px;
  margin: 0px 300px 0 0;
}

.col-2 {
	width:600px;
	background-color: white;
}

.form-container {
	color: #000;
	padding: 30px;
  background-color: #F0F1F8;
}

.contact-info-title {
	color: #01bdd4;
}

.form-row {
	padding-bottom: 30px;
}

.form-field {
	width: 100%;
	border: none;
  height:40px;
  padding: 20px;
}

.send-btn {
	border: 0px;
	padding: 12px 26px;
	background-color: #0c2317;
	color: white;
}

@media all and (max-width: 1024px) {
	.container {
		width: auto;
		padding: 30px;
	}
	 .col-1 {
		width: 360px;
	} 
}

@media all and (max-width: 700px) {
	.content {
		display: block;
	}
	.col-2 {
		margin-top: 40px;
	} 
	.col-1{
	width:100%;
	}
}

@media all and (max-width: 500px) {
	.container {
		padding: 10px;
	}
}



/*--------------------------signin------------------------*/

.right-side1 .button1 input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #de1f26;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.button1 input[type="submit"]:hover{
  background: #de1f26;
}



.dropdowns {
  float: right;
  overflow: hidden;
  margin-top: -15px;
}

.dropdowns .dropbtns {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contents a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdowns:hover .dropbtns{
  color: black;
}

.dropdowns .dropdown-contents a:hover{
  color: #de1f26;
}

.dropdown-contents a:hover {
  color: black;
}

.dropdowns:hover .dropdown-contents {
  display: block;
  color: black;
}